@font-face {
    font-family: 'ITC Avant Garde';
    src: url('ITCAvantGardeStd-BkObl.eot');
    src: local('ITC Avant Garde Gothic Std Book Oblique'), local('ITCAvantGardeStd-BkObl'),
        url('ITCAvantGardeStd-BkObl.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-BkObl.woff2') format('woff2'),
        url('ITCAvantGardeStd-BkObl.woff') format('woff'),
        url('ITCAvantGardeStd-BkObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Avant Garde';
    src: url('ITCAvantGardeStd-DemiObl.eot');
    src: local('ITC Avant Garde Gothic Std Demi Oblique'), local('ITCAvantGardeStd-DemiObl'),
        url('ITCAvantGardeStd-DemiObl.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-DemiObl.woff2') format('woff2'),
        url('ITCAvantGardeStd-DemiObl.woff') format('woff'),
        url('ITCAvantGardeStd-DemiObl.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Avant Garde';
    src: url('ITCAvantGardeStd-XLtObl.eot');
    src: local('ITC Avant Garde Gothic Std Extra Light Oblique'), local('ITCAvantGardeStd-XLtObl'),
        url('ITCAvantGardeStd-XLtObl.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-XLtObl.woff2') format('woff2'),
        url('ITCAvantGardeStd-XLtObl.woff') format('woff'),
        url('ITCAvantGardeStd-XLtObl.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Avant Garde';
    src: url('ITCAvantGardeStd-XLt.eot');
    src: local('ITC Avant Garde Gothic Std Extra Light'), local('ITCAvantGardeStd-XLt'),
        url('ITCAvantGardeStd-XLt.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-XLt.woff2') format('woff2'),
        url('ITCAvantGardeStd-XLt.woff') format('woff'),
        url('ITCAvantGardeStd-XLt.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde';
    src: url('ITCAvantGardeStd-BoldObl.eot');
    src: local('ITC Avant Garde Gothic Std Bold Oblique'), local('ITCAvantGardeStd-BoldObl'),
        url('ITCAvantGardeStd-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-BoldObl.woff2') format('woff2'),
        url('ITCAvantGardeStd-BoldObl.woff') format('woff'),
        url('ITCAvantGardeStd-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Avant Garde';
    src: url('ITCAvantGardeStd-Md.eot');
    src: local('ITC Avant Garde Gothic Std Medium'), local('ITCAvantGardeStd-Md'),
        url('ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-Md.woff2') format('woff2'),
        url('ITCAvantGardeStd-Md.woff') format('woff'),
        url('ITCAvantGardeStd-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde';
    src: url('ITCAvantGardeStd-Demi.eot');
    src: local('ITC Avant Garde Gothic Std Demi'), local('ITCAvantGardeStd-Demi'),
        url('ITCAvantGardeStd-Demi.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-Demi.woff2') format('woff2'),
        url('ITCAvantGardeStd-Demi.woff') format('woff'),
        url('ITCAvantGardeStd-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde';
    src: url('ITCAvantGardeStd-MdObl.eot');
    src: local('ITC Avant Garde Gothic Std Medium Oblique'), local('ITCAvantGardeStd-MdObl'),
        url('ITCAvantGardeStd-MdObl.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-MdObl.woff2') format('woff2'),
        url('ITCAvantGardeStd-MdObl.woff') format('woff'),
        url('ITCAvantGardeStd-MdObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Avant Garde';
    src: url('ITCAvantGardeStd-Bk.eot');
    src: local('ITC Avant Garde Gothic Std Book'), local('ITCAvantGardeStd-Bk'),
        url('ITCAvantGardeStd-Bk.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-Bk.woff2') format('woff2'),
        url('ITCAvantGardeStd-Bk.woff') format('woff'),
        url('ITCAvantGardeStd-Bk.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde';
    src: url('ITCAvantGardeStd-Bold.eot');
    src: local('ITC Avant Garde Gothic Std Bold'), local('ITCAvantGardeStd-Bold'),
        url('ITCAvantGardeStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-Bold.woff2') format('woff2'),
        url('ITCAvantGardeStd-Bold.woff') format('woff'),
        url('ITCAvantGardeStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

